body{
	background-color: #18bc9c;
}
ul {
	/*tira as bolinhas de marcação da lista*/
    list-style-type: none;
    /*---------------------*/
    /*posição da barra*/
    margin: 0;
    /*posição das letras*/
    padding: 0;
    /*barra*/
    overflow: hidden;
    /*cor da barra*/
    background-color: #0C5D05;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
	/*posição das palavras na horizontal*/
    float: right;
}

li a {
	/*altura da barra (com relação as palavras? não sei)*/
    display: block;
    /*cor das letras*/
    color: white;
    text-align: center;
    /*separação das palavras (altura e largura)*/
    padding: 14px 16px;
    text-decoration: none;
}

/*quando o mouse passar muda de cor*/
li a:hover {
    background-color: #111;
}
#menu ul{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: auto;
	list-style-type: none;
	font-size: 20px;
	margin-left: auto!important;
}
.img-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 400px; /* posiciona a 90px para a esquerda */ 
    top: 70px; /* posiciona a 70px para baixo */
}
.img-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 550px; /* posiciona a 90px para a esquerda */ 
    top: 70px; /* posiciona a 70px para baixo */   
}
.img-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 700px; /* posiciona a 90px para a esquerda */ 
    top: 70px; /* posiciona a 70px para baixo */
}
input{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #DB7093;
    padding: 10px 20px 20px;
}
.nome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 450px; /* posiciona a 90px para a esquerda */ 
    top: 300px; /* posiciona a 70px para baixo */
}
.sobrenome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 450px; /* posiciona a 90px para a esquerda */ 
    top: 360px; /* posiciona a 70px para baixo */
}
.email{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 450px; /* posiciona a 90px para a esquerda */ 
    top: 420px; /* posiciona a 70px para baixo */
}
.senha{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    position: absolute; 
    left: 450px; /* posiciona a 90px para a esquerda */ 
    top: 480px; /* posiciona a 70px para baixo */
}
